doctype
html(lang='en')
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Test
        link(rel="stylesheet", href="/stylesheets/test.css")
        script(src="https://code.jquery.com/jquery-3.6.0.min.js")
        script(src="/javascript/search.js") 
    body
        .content
            .title
                image(src='../images/Name.png' class='title-image')

            form(action="/response-analysis" method="POST" class="search-container")
                input#searchInput(type="text", name="searchTerm", placeholder="Pesquisar personagens...", oninput="filterDropdown()")
                div#dropdownMenu.dropdown-content
                    each character in characters
                        a(href="#", onclick=`selectCharacter('${character.bio_name}')`) = character.bio_name
                button(type="submit") Pesquisar

            .result
                .square#1
                    p= comparisonResult ? comparisonResult.Strength || 0 : 0
                .square#2
                    p= comparisonResult ? comparisonResult.Dexterity || 0 : 0
                .square#3
                    p= comparisonResult ? comparisonResult.Defense || 0 : 0
                .square#4
                    p= comparisonResult ? comparisonResult.Speed || 0 : 0
                .square#5
                    p= comparisonResult ? (comparisonResult.WeaponOne || 0) + ' e ' + (comparisonResult.WeaponTwo || 0) : '0 e 0'

            